packages:
  yum:
    git: []
    patch: []
    readline-devel: []
    postgresql93-devel: []
    python34-devel: []
    libxml2-devel: []
    libxslt-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    littlecms-devel: []
    libwebp-devel: []
    openjpeg-devel: []
    python26-imaging: []

container_commands:
  install-devtools:
    command: "yum groupinstall -y 'development tools'"
