container_commands:
  01_migrate:
    command: "pwd && source /opt/python/run/venv/bin/activate && python shakespeare/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python shakespeare/manage.py createsu"
    leader_only: true
  03_createnuggettemplates:
    command: "source /opt/python/run/venv/bin/activate && python shakespeare/manage.py createnuggettemplates"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python shakespeare/manage.py collectstatic --noinput"
  05_syncplans:
    command: "source /opt/python/run/venv/bin/activate && python shakespeare/manage.py sync_plans"
  06_extendusers:
    command: "source /opt/python/run/venv/bin/activate && python shakespeare/manage.py extendusers --price 0"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "shakespeare.settings.deploy"
    "PYTHONPATH": "./shakespeare"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: shakespeare/shakespeare/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
