files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/notify_rollbar.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      ACCESS_TOKEN=38b1269535074f1a9b4c7da6a8142502
      ENVIRONMENT=`unknown`
      LOCAL_USERNAME=`beanstalk`
      REVISION=`unknown`

      curl https://api.rollbar.com/api/1/deploy/ \
        -F access_token=$ACCESS_TOKEN \
        -F environment=$ENVIRONMENT \
        -F revision=$REVISION \
        -F local_username=$LOCAL_USERNAME