{% load static %}
<html>
    <head>
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />    
        <link rel="stylesheet" href="{% static "administration/shakespeare.css" %}" />
        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        <title>{% block title %}{% endblock %} - Shakespeare</title>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        <img class="logo-header" src="{% static "administration/shakespeare.png" %}" />
            {% block content %}
            {% endblock %}
        </div>
    {% block footerjs %}
    {% endblock %}
    </body>
</html>