{% extends './base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/kkigdgpkeimbmdlkfakiacplnhnnoadl">
{% endblock %}

{% block content %}
    <div id="pre-install" style="display: block;">
        <h1>Welcome {{firstname}}!</h1>
        <h3>Install the chrome extension to begin.</h3>
        <button onclick="install()" class="btn" id="install-button">Add to Chrome</button>
    </div>
    <div id="installed" style="display: none;">
        <h1>Great!</h1>
        <h3>Please take 50 seconds to complete this tutorial.</h3>
        <iframe src='//www.appdemostore.com/embed?id=4847017010397184' width='780' height='623.2390243902439' frameborder='0'></iframe>
    </div>
    <script>
        function install() {
            chrome.webstore.install(
                "https://chrome.google.com/webstore/detail/kkigdgpkeimbmdlkfakiacplnhnnoadl",
                function onSuccess(resp) {
                    console.log('SUCCESS!: ', resp);
                    document.getElementById("pre-install").style.display = "none"; //turn of the install
                    document.getElementById("installed").style.display = "block"; //turn on the redirect to gmail
                },
                function onFailure(resp) {
                    console.log('FAILURE!: ', resp);
                }
            );
        }
    </script>
{% endblock %}